<div>
  <div class="dashboard-btn-container">
    <button nz-button nzType="primary" (click)="showModal()">Add Filter</button>
    <nz-switch
      (click)="toggleMode()"
      [(ngModel)]="isRegularMode"
    ></nz-switch>
    <div>
      Active: {{isRegularMode ? "Modal" : "Non-Modal"}}
    </div>
  </div>
  <nz-modal
    style="min-width: 10em"
    [(nzVisible)]="isVisible"
    nzTitle="Add New Filter"
    nzCentered
    (nzOnCancel)="handleCancel($event)"
    (nzOnOk)="handleSave($event)"
    [nzFooter]="null"
    nzWidth="40rem"
    [nzMaskClosable]="isClosable"
  >
    <ng-container *nzModalContent>
      <div>
        <wc-resize-wrapper [minContainerHeight]="minRegularModalHeight" [maxContainerHeight]="maxRegularModalHeight">
          <wc-filter-form
            (closableStatusChange)="updateClosableStatus($event)"
            (closeEvent)="handleCancel($event)"
            (saveEvent)="handleSave($event)"
          ></wc-filter-form>
        </wc-resize-wrapper>
      </div>
    </ng-container>
  </nz-modal>
</div>
