.side-modal {
  position: relative;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 3.75em;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-modal-no-transition {
  transition: none !important;
}

.side-modal-corner-resize {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 1.25em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-height: 28em) {
  .side-modal {
    padding-top: 1em;
  }

  .side-modal a {
    font-size: 1em;
  }
}

.open-modal {
  width: 30vw;
}

.close-modal {
  width: 0;
}
