:host {
  height: 100%;
}

.side-modal {
  position: relative;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.side-modal-no-transition {
  transition: none !important;
}

.side-modal-corner-resize {
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}


.side-modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.open-modal {
  width: 30vw;
  height: 100%;
}

.close-modal {
  width: 0;
}
