<div class="dashboard-container">
  <div class="add-filter-content">
    <wc-add-filter></wc-add-filter>
  </div>

  <div class="dashboard-header">
    <h1>Saved Filters</h1>
    <hr>
  </div>

  <div class="dashboard-content">

    <ul>
      @for (filter of filters; track filter) {
        <li>
          <nz-card style="width:300px;" [nzTitle]="filter.name!">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
        </li>
      }
    </ul>

<!--    @for (filter of filters; track filter) {-->
<!--      <nz-card style="width:300px;" [nzTitle]="filter.name!">-->
<!--        <p>Card content</p>-->
<!--        <p>Card content</p>-->
<!--        <p>Card content</p>-->
<!--      </nz-card>-->
<!--    }-->

  </div>
</div>

