<div class="dashboard-container">
  <div>
    <app-add-filter
                    (filterCreated)="onFilterSave($event)"></app-add-filter>
  </div>

  <div>
    <nz-collapse nzAccordion>
      @for (filter of filters; track filter) {
        <nz-collapse-panel class="panel" [nzHeader]="filter.name!" [nzExtra]="extraTpl">
          <p>This is filter with id {{ filter.filterId }} </p>
        </nz-collapse-panel>
      }
    </nz-collapse>

    <ng-template #extraTpl>
      <div class="collapse-bar-content">
        <span nz-icon nzType="delete" (click)="handleSettingsClick($event)"></span>
        <span nz-icon nzType="edit"></span>
      </div>
    </ng-template>
  </div>

</div>

