.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 1rem;
}

.panel {
  min-width: 63vw;
}

.collapse-bar-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.2rem;
}
