.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.dashboard-header {
  width: 100%;
  padding: 0 4rem 0 4rem;
}

.add-filter-content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  padding-top: 4rem;
}

li {
  display: inline-block;
  font-size: 1.125rem;
  list-style-type: none;
  line-height: 3.125rem;
  margin: 1rem 1.5rem;
  box-sizing: border-box;
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.delete-button {
  margin-left: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: center;
}
