/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";


html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0.1rem solid #7e7e7e;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border: 0.1rem solid #616161;
  border-radius: 0.5rem;
}
