:host{
  overflow: auto;
}

.modal-content-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  height: 100%;
}

.modal-content-container :nth-child(1) {
  align-self: flex-start;
}

.table-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.add-filter-container {
  width: 30%;
}

.add-filter-container button {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

a {
  color: inherit;
}


.modal-btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.filter-modal-corner-resize {
  position: absolute;
  width: 30px;
  height: 30px;
}

#filter-modal-bottom-right-resize {
  bottom: 0;
  right: 0;
}

.resize-icon {
  cursor: nwse-resize;
  font-size: 1.5em;
  color: white;
}

#scrollbar::-webkit-scrollbar {
  width: 12px;
}

#scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border: 2px solid #7e7e7e;
  border-radius: 8px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border: 2px solid #616161;
  border-radius: 8px;
}
