<form class="modal-content-container" [formGroup]="filterForm" (ngSubmit)="submitForm()">
  <div class="name-container">
    <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Name is Required">
            <input formControlName="name" nz-input required name="required" placeholder="Choose name"/>
          </nz-form-control>
    </nz-form-item>
  </div>
  <div class="table-container">
    <table>
      <colgroup>
        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 10%;">
      </colgroup>
      <thead>
      <tr>
        <th>Type</th>
        <th>Condition</th>
        <th>Value</th>
        <th><span style="color: red" nz-icon nzType="delete"></span></th>
      </tr>
      </thead>
      <tbody formArrayName="criteriaList">
        @for (criteria of criteriaFormArray.controls; track criteria) {
          <tr [formGroupName]="$index">
            <td>
              <div class="form-group">
                <nz-select (ngModelChange)="handleTypeChange($index)" formControlName="type">
                  @for (type of criterionTypeList; track type) {
                    <nz-option [nzLabel]="type.toString()" [nzValue]="type"></nz-option>
                  }
                </nz-select>
              </div>
            </td>

            <td>
              <div class="form-group">
                <nz-select formControlName="condition">
                  @for (condition of CriterionUtils.getConditionsByType(criteriaFormArray.at($index).get("type")?.value); track condition) {
                    <nz-option [nzLabel]="condition.toString()" [nzValue]="condition"></nz-option>
                  }
                </nz-select>
              </div>
            </td>

            <td>
              <div class="form-group">

                @if (criteriaFormArray.at($index).get("type")?.value === criterionType.AMOUNT) {
                  <nz-input-number formControlName="valueAmount" [nzStep]="1"></nz-input-number>
                }

                @if (criteriaFormArray.at($index).get("type")?.value === criterionType.TITLE) {
                  <input formControlName="valueTitle" nz-input placeholder="Text" type="text"/>
                }

                @if (criteriaFormArray.at($index).get("type")?.value === criterionType.DATE) {
                  <nz-date-picker formControlName="valueDate"></nz-date-picker>
                }
              </div>
            </td>

            <td>
              <button nz-button (click)="removeCriterion($index)">
                <span style="color: red" nz-icon nzType="minus"></span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>


  <div class="add-filter-container">
    <button style="color: lightgreen" nz-button (click)="addCriterion()">
      <span style="color: lightgreen" nz-icon nzType="plus"></span>
      Add new
    </button>
  </div>

  <div class="modal-btn-container">
    <button style="color: lightcoral" nz-button (click)="handleCancel()">Cancel</button>
    <button style="color: lightgreen" nz-button (click)="handleSave()">Save</button>
  </div>
</form>
